*{
    @font-face {
        font-family: 'liberation_serifregular';
        src: local('/home/user/Desktop/Irksome/CodesIrksome/Font liberation serif/liberation_serif/LiberationSerif-Regular.ttf');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'liberation_serifbold';
        src: local('/home/user/Desktop/Irksome/CodesIrksome/Font liberation serif/liberation_serif/LiberationSerif-Bold.ttf')
        font-weight: normal;
        font-style: normal;

    }
    @font-face {
        font-family: 'Avenir Next LT Pro Regular';
        font-style: normal;
        font-weight: normal;
        src: local('/home/user/Desktop/Irksome/CodesIrksome/Font avenir next/AvenirNextLTPro-Regular.woff;')
        }
        
}

body {
    font-family: 'liberation_serifregular';
    font-size: 100%;
    line-height: 1.5;
    background-color: white;
    margin: 0;
	height:100%;
    width:100%;
    padding:0;
}

 /*global*/
p {
     padding: 10px;
 }
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    max-height: 20vw;
}
ul {
    padding: 0;
    margin: 0;
}
a.current, a:hover{
    color: palevioletred;
    font-weight: bold;
}
section {
    height: 100%;
    width: 100%;
    display: inline-block;
  }
#arrow-menu{
    position:fixed;
    top: 80vh;
    right:6vw;
    padding:  0px 5px 0px 5px;
    border: 1px solid ;
    border-radius: 50%;
}
a {
    text-decoration: none;
    color: inherit;
}
.readmore {
    position: relative;
    float: right;
    padding: 8px 8px 5px 8px;
    font-size-adjust: inherit;
    border: 1px solid white;
    margin: 15px 6px 3px 3px;
}
.seperator{
    min-height: 10vh;
}
.inter-title{
    min-height: 5vw;
    color:black;
    font-weight: normal;
    padding: 10px;
    text-transform: uppercase;
    font-family:'Avenir Next LT Pro Regular' !important;
    font-size: 1.3em;
}
h2 {
    padding-left: 5vw;
    padding-top: 1vw;
}
.thumbnails{
    height: 15vh;
    width: 15vh;
    float: left;
    padding: 8px;
    margin:10px;
}
h3.inter-title {
    border: 1px dashed rgba(0, 0, 0, 0.850);
    padding: 4% 0 0 5vw;
   
}
.highlight {
    color: palevioletred;
    font-weight: bold;
}
.highlight2 {
	color: palevioletred;
    font-weight: regular;
}


/*header*/
header {
    padding-top: 30px;
    min-height: 10vh;

}
header h1 {
    font-family:'Avenir Next LT Pro Regular' ;
    font-size: 40px;
    text-transform: uppercase;
	overflow: visible;
	margin-bottom: 50px;
	position: relative;
}
header #branding {
    padding: 0;
}
label {
    font-size: 30px;
    display: none;  
    margin-left: 4%;
    margin-top: 10%;
    padding: 0;

}
#toggle {
display: none;
margin-left: 4%;
}
div.menu{
display: none;  
}


/*nav bar*/
  
nav {
    padding-top: 30px;
    width: 100%;
    margin-left: 1%;
    display: inline-flex;
    flex-direction: row;
}
nav a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
}
nav ul{
    display: -webkit-inline-flex;
	display: -moz-inline-flex;
    list-style-type: none;
    -ms-flex-direction: row;
	-moz-flex-direction:row;
    flex-direction: row ;
}
nav li {
    padding: 0 3vw 1vw 3vw;
    width: 100%;
}

/*Fäuste*/
#fauste {
    margin-bottom: 60px;
	max-height: 100px;
	max-width: 350px;
	float: right;
	
}

/*Quotes*/
#quotes{
    min-height: 30vh;
}
.quotes-container {
    float: left;
    margin: 3%;
	margin-left: 10%;
    max-width: 80%;
    max-height: 15%;
    min-height: 25vh;
    padding: 0px;
    color: white;
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    border:1px solid rgba(0, 0, 0, 0.850);
}
.quotes-image {

    width: 15vw;
	height: auto;
	padding: 5px;
    float: left;
    background-color: white;
}
.contenty{
    background-color: rgba(0, 0, 0, 0.850);
    padding: 10px;
    display: inline-block;
    text-align: left;
    min-width: 40%;
}
.quote-title {
    color: rgb(255, 255, 255) !important ;
    text-decoration: none;
    font-size: 1em;
    padding: 0;
    margin: 0;
    font-family: 'Avenir Next LT Pro Regular';
}
.autorin{
    float: right;
    font-size: 0.5em;
    padding: 0;
    margin:0 4px 0 4px;
}
.aus{
    float: left;
    font-size: 0.5em;
    padding: 0;
}

#mainQuote{
    font-size: 0.8em;
    text-align: left;
    line-height: 1.9em;
    padding:0 15px 0 15px;
}


/*News Section*/


.event-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
}
.VA-image {
    min-width: 30vw;
    float: left;
   margin-right: 2vw;
}
.VA-title{
    font-family:'Avenir Next LT Pro Regular' ;
    color: white;
    font-size: 1.5em;
    margin-right: 45px;
    margin-left: 5%;
    padding: 20px;
    background-color:  rgba(0, 0, 0, 0.850);
}
.VA-infos {
    padding: 2vw;
    text-align: left;
    line-height: 2em;
    background-color:  rgba(0, 0, 0, 0.850);
    color: white;
    margin-left: 2vw;
    font-size: 1em;
}

h3.infos-title{
    font-family:'Avenir Next LT Pro Regular';
    padding: 15px;
    border:1px dashed rgba(0, 0, 0, 0.850);
    max-height: 20vh;
}
#irksome{
    min-height: 50vh;
    width:80%;
    margin: :auto;
}

/*FausteUnten*/
#fauste-unten{
    width:100%;

}

footer{
    background-color: rgba(0, 0, 0, 0.850);
    width: 100%;
    padding: 15px;
    text-align: center;
}
.lea
{
    padding: 15px;
    margin-right: 4vw;
    color: palevioletred;
    display: inline;
    text-align: center;
}
.icon ion-logo-github{
    height:25px;
}

/*About*/
#wer{
    margin: auto;
    margin-left: 5vw;
    width: 80%;

}
#präsi{
    display: flex;
    flex-direction: row;
    justify-content: left ;
    width: 80%;
}
.wer-el{
    margin: 5vh 1vw 5vh 5vw;
    line-height: 1.7em;
    text-align: left;
    width: 80%;
    object-fit: cover;
}

#SinaNJo{
width:100%;
}


/*Veröffentlichungen*/


.gallery{
    margin: 2vh 1vw 2vh 7vw; 
    display: grid; 
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: repeat(8, 1fr);
    grid-gap: 0px;
    max-width: 80%;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border:1px dashed rgba(0, 0, 0, 0.850);
    margin:0;
}
.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}
.gallery__item--2{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
}
.gallery__item--3{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 6;
}
.gallery__item--4{
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 6;
}
.gallery__item--6{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 6;
}
.gallery__item--8{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}
.gallery__item--9{
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 6;
}
.gallery__item--7{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;
}
.gallery__item--5{
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;
}
/*
.gallery__item--10{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 6;
}
.gallery__item--11{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 5;
} */

/*veröff. who cares*/

.flex-container{
    display: flex;
    margin:auto;
    width: 80%;
    justify-content: flex-start;
  
}

.veroeff-img{
    max-width: 45%;
    min-width: 25%;
    max-height: 55vh;
    float: left;
    margin-right: 2vw;
    padding: 10px; 
    border:1px dashed rgba(0, 0, 0, 0.850);
}
.vereoff-text{
    max-width: 40vw;
    background-color:  rgba(0, 0, 0, 0.850);
    color: white;
    padding: 4%;
    line-height: 1.7;
}
/*Freundinnen*/

#Freundinnen_links .patch{

color: palevioletred;
border:1px dashed white;
background-color:  rgba(0, 0, 0, 0.850);
padding: 15px;
}

.gallery__item--12{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 5;
    font-size: 1.2em;
    padding: 60px;
    border:1px dashed rgba(0, 0, 0, 0.850);
    text-align: center;
	vertical-align: center;

}
.gallery__item--13{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 2.2em;
    text-transform: uppercase;
    border:1px dashed rgba(0, 0, 0, 0.850);
    padding: 5px;
    text-align: center;
}
.gallery__item--14{
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: 1.4em;
    padding: 60px;
    border:1px dashed rgba(0, 0, 0, 0.850);
    text-align: center;
}
.gallery__item--15{
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: 1.6em;
    padding: 60px;
    text-align: center;
    border:1px dashed rgba(0, 0, 0, 0.850);
    background-color: white;
}
.gallery__item--16{
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 5;
    grid-row-end: 6;
    font-size: 2.5em;
    border:1px dashed rgba(0, 0, 0, 0.850);
     padding: 15px;
    text-align: center;
    background-color: white;
}
.gallery__item--17{
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 2.8em;
    border:1px dashed rgba(0, 0, 0, 0.850);
    padding: 5px;
    text-align: center;
    background-color: white;
}
.gallery__item--18{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start:5;
    grid-row-end: 6;
    font-size: 1.8em;
    padding: 15px;
    text-align: center;
    vertical-align: middle;
    border:1px dashed rgba(0, 0, 0, 0.850);
    background-color: white;
}
.gallery__item--19{
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start:4;
    grid-row-end: 5;
    font-size: 1.8em;
    padding: 15px;
    text-align: center;
    border:1px dashed rgba(0, 0, 0, 0.850);
}
.gallery__item--20{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: 1.6em;
    padding: 60px;
    text-align: center;
    border:1px dashed rgba(0, 0, 0, 0.850);
}
.gallery__item--21{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    font-size: 1.6em;
    padding: 20px;
    text-align: center;
    border:1px dashed rgba(0, 0, 0, 0.850);
}
.gallery__item--22{
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 5;
    font-size: 1.6em;
    padding: 20px;
    text-align: center;
    border:1px dashed rgba(0, 0, 0, 0.850);
}

#GastgeberInnen ul{
    list-style: none;
    padding: 15px;
    font-size: 1.3em;
    line-height: 1.7em;

}
#GastgeberInnen{
    overflow: auto;
}


/*Kontakt*/
#Kontakt{
    min-height: 20vh;
    padding: 10%;
}
.datenschutz{
    width: 80%;
    margin: auto;
}

/*Handy Version*/

@media screen and (max-width: 480px){
 
    html {
    text-align: left;
    }
  .container { 
        margin: 0px auto; 
        padding: 1%;
    }
    header h1 {
        display: block;
        margin: 0.2vw;
        position: absolute;
        font-size: 2em;
    }
    h1 h2 h3{ 
        font-size: 0.9em;
    }
    p {
        font-size: 0.7em;
        text-align: left;
    }
    #fauste {
        max-height: 5vh;
        display: none;
    }
    img{
        justify-content: center;
        width: 100%;
        max-height: 60vh;
    }
    label {
        display: block;
        cursor: pointer;
        padding: 5%;
    }
    .menu{
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
        padding: 2vh;
    }
    #toggle:checked ~ .menu {
        display: block;
    }
     nav.Desktop{
         display: none; 
     }
    .quotes-container{
        flex-direction: column;
    margin-top: 35%;
    }
    .quotes-image{
        width:100%;
        float:none;
        min-width: 70%;
    }
    .inter-title{
    position: relative;
    display: block;
    overflow: visible;
    font-size: 1.1em;
    }
    #mainQuote{
        text-align: left;
        font-size: 0.7em;
        padding: 0;
    }
    .quote-title{
        position: relative;
    }
    .event-wrapper{
    display: flex;
    flex-direction: column;
    }
    #quotes{
        min-height: 0;
        padding: 0;
        margin: 0;
    }
    #illusMosaik{
        display: none;
    }
    .flex-container{
        flex-direction: column;
        justify-content: center;
  
    }
    .veroeff-img{
        max-width: 90%;
    }
    .vereoff-text{
        max-width: 90%;
    }
    #Freundinnen_links{
        display: block;
        font-size: 0.5em;
    }
    .VA-infos{

        font-size : 0.8em;
    }
    .infos-title{
        overflow: visible;
    }
    #präsi{
        width: 100%;
    }
    #SNJ{
        width: 100%;
    }
	#alsGaeste{
        display: none;
    }
}